@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-s1abb9');
	src:url('../fonts/icomoon.eot?#iefix-s1abb9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-s1abb9') format('woff'),
		url('../fonts/icomoon.ttf?-s1abb9') format('truetype'),
		url('../fonts/icomoon.svg?-s1abb9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-histor:before {
	content: "\f068";
}

.icon-comprador:before {
	content: "\f035";
	padding: 0em 0.5em 0em 0.5em;  
}

.icon-distribuidor:before {
	content: "\f096";
}

.icon-producto:before {
	content: "\f061";
}

.icon-cerrar:before {
	content: "\f06a";
}

.icon-user:before {
	content: "\f007";
	padding: 0em 0.5em 0em 0.5em;
}

.icon-check:before {
	content: "\f00c";
}

.icon-close:before {
	content: "\f00d";
}

.icon-search-plus:before {
	content: "\f00e";
}

.icon-trash-o:before {
	content: "\f014";
}

.icon-home:before {
	content: "\f015";
}

.icon-clock-o:before {
	content: "\f017";
}

.icon-lock:before {
	content: "\f023";
}

.icon-camera:before {
	content: "\f030";
}

.icon-image:before {
	content: "\f03e";
}

.icon-pencil:before {
	content: "\f040";
}

.icon-map-marker:before {
	content: "\f041";
}

.icon-plus:before {
	content: "\f067";
}

.icon-minus:before {
	content: "\f069";
}

.icon-exclamation-circle:before {
	content: "\f06b";
}

.icon-exclamation-triangle:before {
	content: "\f071";
}

.icon-calendar:before {
	content: "\f073";
}

.icon-comment:before {
	content: "\f075";
}

.icon-chevron-up:before {
	content: "\f077";
}

.icon-chevron-down:before {
	content: "\f078";
}

.icon-bar-chart:before {
	content: "\f080";
}

.icon-liken:before {
	content: "\f087";
}

.icon-heart-o:before {
	content: "\f08a";
}

.icon-phone:before {
	content: "\f095";
}

.icon-megafono:before {
	content: "\f0a1";
}

.icon-bell-o:before {
	content: "\f0a2";
}

.icon-wrench:before {
	content: "\f0ad";
}

.icon-list-ul:before {
	content: "\f0ca";
}

.icon-certificado:before {
	content: "\f0ea";
}

.icon-user-medico:before {
	content: "\f0f0";
}

.icon-stethoscope:before {
	content: "\f0f1";
}

.icon-coffee:before {
	content: "\f0f4";
}

.icon-cubiertos:before {
	content: "\f0f5";
}

.icon-medkit:before {
	content: "\f0fa";
}

.icon-folder-o:before {
	content: "\f114";
}

.icon-folder-open-o:before {
	content: "\f115";
}

.icon-smile-o:before {
	content: "\f118";
}

.icon-frown-o:before {
	content: "\f119";
}

.icon-meh-o:before {
	content: "\f11a";
}

.icon-unlock-alt:before {
	content: "\f13e";
}

.icon-paw:before {
	content: "\f1b0";
	padding: 0em 0.5em 0em 0.5em;
}
body
{
	background: #f9f9f9;
	margin:0;
	font-family: "geosanslight", 'Open Sans', sans-serif;
}
@font-face{
font-family: "geosanslight";
src: url(../fonts/geosanslight.ttf) format("truetype");
}
@font-face{
font-family: "DroidSans";
src: url(../fonts/DroidSans.ttf) format("truetype");
}
.editar-hirt, .icon-trash-o
{
	display: inline-block;
	/*float: left;*/
	padding: 0.5em;
	vertical-align: top;
}
.eliminar-hist, .editar-hirt
{
	display: inline-block;
	vertical-align: top;
	width: 19px;
}
.items li 
{
	background: #f3f4f4;
	border: 1px solid #e2e3e3;
	border-radius: 0.5em;
	list-style: none;
	width: 112px;
	float: left;
	margin: 0 1em 1em 0;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
.items li:hover
{
	background: #f3f4f4;
	border:1px solid #e2e3e3;
	border-bottom: 1px solid #e2e3e3;
	border-right: 1px solid #e2e3e3;
	border-radius: 0.5em;
	list-style: none;
	width: 112px;
	float: left;
	-webkit-box-shadow: 0px 0px 0px 0px #fff;
	-moz-box-shadow:    0px 0px 0px 0px #fff;
	box-shadow:         0px 0px 0px 0px #fff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.items img 
{
	text-align: center;
	margin: 0px auto 0px auto;
	padding: 1em 1.8em;
	width: 54px;
}
.items a {
	text-decoration: none;
	color: #525252;
	border-bottom: 2px solid #000;
}
.items h2 
{	
	color: #5a5a5a;
	font-size: 13px;
	font-weight: 300;
	font-family: arial, sans-serif;
	margin-top: -9px;
	text-align: center;
}
.navega
{
	background: #f2f2f2;
	padding: 0.5em 0.5em 0.7em 0.5em;

}
.navega a
{
	background: #f06008;
	border-radius: 0.3em;
	border-bottom: 4px solid #c95007;
	color: #fff;
	float: left;
	font-family: arial, sans-serif;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em 0.8em 0.5em 0.8em;
	text-decoration: none;
}
.navega a:hover
{
	background: #c95007;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.navega h3
{
	font-size: 30px;
	margin: 0px;
}
.panel-arriba
{
	background: #13a9f8;
}
.panel-back
{
	margin: 0px auto 0px auto;
	width: 90%;
}
.panel-back .conten-sup
{
	text-align: left;
	width: 100%;
}
.panel-back .conten-sup input[type=text]
{
	border: 1px solid #8FD5F4;
	color: #333;
	font-family: "arial";
	font-size: 16px;
	font-weight: 100;
	padding: 0.3em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-transform: uppercase;
	width: 350px;
}
.panel-back .conten-sup input[type=date]
{
	border: 1px solid #8FD5F4;
	color: #333;
	font-family: "arial";
	font-size: 16px;
	font-weight: 100;
	padding: 0.15em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
}
.panel-back .conten-sup input[type=submit]
{
	border: none;
	background: #f06008;
	border-radius: 0.3em;
	border-bottom: 4px solid #c95007;
	color: #fff;
	font-family: arial, sans-serif;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em 0.8em 0.5em 0.8em;
	text-decoration: none;
}
.panel-back .conten-sup input[type=submit]:hover
{
	background: #c95007;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.panel-back .conten-sup input[type=radio]
{
	font-size: 20px;
}
.panel-back .conten-sup label
{
	color: #333;
	font-size: 18px;
	line-height: 38px;
	font-family: "DroidSans";
	padding-bottom: 0.8em;
}
.sec-admin
{
	margin: 60px auto 0px auto;
	text-align: center;
	width: 98%;
}
.sec-admin-top h4
{
	font-size: 2em;
	padding-left: 15px;
	text-align: left;

}
.sec-histo
{
	background: #fff;
	font-family: "DroidSans";
	margin-top: 0.4em;
	margin-bottom: 0.8em;
	padding: 0.5em 0.5em 0.5em 0.8em;
	text-align: left;
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.sec-histo .sec1
{
	padding-right: 0.5em;
}
.sec-histo .sec1 h2
{
	font-size: 16px;
	font-weight: 300;
	margin: 0.2em 0.2em 0.2em 0.2em;
}
.sec-histo .sec1 h3
{
	font-size: 14px;
	font-weight: 300;
	margin: 0.2em 0.2em 0.2em 0.2em;
}
.sec-histo .sec1 h2 span
{
	color: #818181;
	font-weight: 300;
	padding-right: 0.2em;
}
.sec-histo .sec1 h3 span
{
	color: #818181;
	font-weight: 300;
	padding-right: 0.2em;
}
.sec-histo .sec2 p
{
	color: #818181;
	cursor: pointer;
	font-size: 14px;
	font-weight: 300;
	margin-top: 0px;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.sec-histo .sec2 a
{
	background: #FDE9EA;
	border-radius: 0.2em;
	text-decoration: none;
	color: #FF4250;
	font-size: 14px;
	padding:  0.2em 0.4em 0.2em 0.4em;
	-webkit-transition: .3s;
}
.sec-histo .sec2 a:hover
{
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.sec1, .sec2
{
	display: inline-block;
	vertical-align: top;
}
.sec1
{
	width: 30%;
}
.sec1:hover
{
	cursor: pointer;
}
.sec2
{
	width: 65%;
}
.sec3
{
	text-align: right;
	margin: -20px 0px 0px 0px;
	padding: 0.5em 0.8em 0.5em 0.5em;

}
.sec3 .histo-fecha
{
	color: #818181;
	font-size: 14px;
}
.sec3 .editar-hirt a 
{
	background: none;
	color: #939191;
	font-size: 19px;
	text-decoration: none;
}
.sec3 .editar-hirt a:hover 
{
	color: #FF4250;
}
.sec3 .eliminar-hist a 
{
	background: none;
	color: #939191;
	font-size: 19px;
	text-decoration: none;
}
.sec3 .histo-fecha
{
	display: block;
}
.sec3 .eliminar-hist a:hover 
{
	color: #FF4250;
}
#notificador
{
	background: #fff;
}
#notificador table
{
	width: 100%;
}
#nombre-user a
{
	background: #13a9f8 !important;
	border-bottom: 4px solid #13a9f8 !important;
}
#notificador table
{
	margin-top: 0px;
}
#notificador table thead
{
	border-top:none;
	font-weight: bold;
	text-transform: uppercase;
}
#notificador table tr
{
	height: 30px;
}
#notificador table td
{
	border-top: 1px solid #ddd;
}
#notificador table td:last-child
{
	padding-right: 1.5em;
	text-align: right;
}
#notificador table tr:last-child
{
	border-bottom: 1px solid #ddd;
	background: #fff;
}
#notificador table .bano
{
	background: #F76A13;
	border-radius: 0.2em;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	padding: 0.1em 0.3em 0.1em 0.3em;

}
#notificador table .consul
{
	background: #EF0C49;
	border-radius: 0.2em;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	padding: 0.1em 0.3em 0.1em 0.3em;
}
#notificador table .vacunas
{
	background: #0C7FEF;
	border-radius: 0.2em;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	padding: 0.1em 0.3em 0.1em 0.3em;
}
#panel-arriba-lado1
{
	width: 48%;
}
#panel-arriba-lado1 h3
{
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	margin-left: 20px;
}
#panel-arriba-lado2 a
{
	background: #f06008;
	border-radius: 0.3em;
	border-bottom:4px solid #c95007;
	color: #fff;
	text-align: right;
	float: right;
	font-family: arial, sans-serif;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;	
	text-decoration: none;
	
}
#panel-arriba-lado2 a:hover
{
	background: #c95007;
}
#panel-arriba-lado2
{
	margin: 20px 0px 0px 0px;
	width: 50%;
}
#panel-arriba-lado1, #panel-arriba-lado2
{
	display: inline-block;
	vertical-align: top;
}

#section-lado-izq
{
	display: inline-block;
	vertical-align: top;
	width: 49%;

}
#section-lado-izq .crea-mascota img
{
	border-radius: 0.3em;
	border: 2px solid #8FD5F4;
	width: 350px;
}
#section-lado-izq .crea-mascota
{
	text-align: left;
	padding: 0.8em;
	padding-bottom: 1.5em;
}
#section-lado-izq .crea-mascota input[type="text"]
{
	border: 1px solid #8FD5F4;
	color: #333;
	font-family: "arial";
	font-size: 16px;
	font-weight: 100;
	padding: 0.3em;
	text-align: left;
	text-transform: uppercase;
	width: 90%;
}
#section-lado-izq .crea-mascota p
{
	text-align: left;
	font-size: 18px;
	margin-bottom: 1px;
}
#section-lado-izq .crea-mascota input[type="date"]
{
	border: 1px solid #8FD5F4;
	color: #333;
	font-family: "arial";
	font-size: 16px;
	font-weight: 100;
	padding: 0.2em;
	text-align: left;
	width: 90%;
}

#section-lado-der .crea-propietario
{
	text-align: left;
	padding: 0.8em;
	padding-bottom: 1.5em;
}
#section-lado-der .crea-propietario input[type="text"]
{
	border: 1px solid #8FD5F4;
	color: #333;
	font-family: "arial";
	font-size: 16px;
	font-weight: 100;
	padding: 0.3em;
	text-align: left;
	text-transform: uppercase;
	width: 90%;
}
#section-lado-der .crea-propietario input[type="submit"]
{
	background: #f06008;
	border:none;
	border-radius: 0.3em;
	border-bottom:4px solid #c95007;
	color: #fff;
	font-family: arial, sans-serif;
	margin-top: 1.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;	
	text-decoration: none;
}
#section-lado-der .crea-propietario
{
	text-align: left;
	padding: 0.8em;
  	padding-bottom: 1.5em;
}
#section-lado-der .crea-propietario p
{
	text-align: left;
	font-size: 18px;
	margin-bottom: 1px;
}
#section-lado-der .crea-propietario input[type="date"]
{
	border: 1px solid #8FD5F4;
	color: #333;
	font-family: "arial";
	font-size: 16px;
	font-weight: 100;
	padding: 0.2em;
	text-align: left;
	width: 90%;
}
#section-lado-der .crea-propietario input[type="email"]
{
	border: 1px solid #8FD5F4;
	color: #333;
	font-family: "arial";
	font-size: 16px;
	font-weight: 100;
	padding: 0.3em;
	text-align: left;
	width: 90%;
}
#section-lado-der
{
	/*border:1px solid red;*/
	display: inline-block;
	height: 130px;
	vertical-align: top;
	width: 49%;
}
#top-notificador
{
	background: #249F78;
	height: 40px;
	text-align: left;
	margin: 0;
	position: relative;

}
#top-notificador ul
{
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
#top-notificador ul li
{
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding-left: 0;
	
}
#top-notificador ul li span
{
	background: #fff;
	border-radius: 0.2em;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0.2em 0.3em 0.2em 0.3em;
}
#top-notificador ul li a
{
	color: #fff;
	text-decoration: none;
	padding: 0.5em 0.8em 0.5em 0.8em;	
}
#top-notificador ul li a:hover
{
	background: #1D664F;
}

@media screen and (max-width: 1030px){

#section-lado-izq
{
	width: 95%;
}
#section-lado-der
{
	width: 95%;
}	
}
@media screen and (max-width: 800px){
#section-lado-izq .crea-mascota img
{
	border-radius: 0.3em;
	width: 90%;
}
.panel-back .conten-sup label
{
	display: block;
	line-height: 10px;
	padding-bottom: 0.8em;

}
.panel-back .conten-sup input[type=text]
{
	width: 90%;
}
.sec1, .sec2
{
	display: block;
	width: 99%;
}
.sec3
{
	display: block;
	width: 90%;
}
}
@media screen and (max-width: 330px){
#section-lado-izq 
{
	width: 99%;
}
.items ul
{
	padding-left: 29px;
}
.items li
{
	width: 106px;
}
.items li:hover
{
	width: 106px;
}
}